form {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

/* .App{
  border: 1px solid;
} */

header {
  text-align: center;
}

#input {
  padding: 5px;
  border: 1px solid;
}
#filter-todos {
  padding: 5px;
}

.todo {
  display: flex;
  flex-direction: row;
}

.todo-item {
  min-width: 150px;
  border: 1px solid;
  background-color: lightgoldenrodyellow;
  margin-bottom: -1px;
  border-radius: 3px;
  padding: 5px;
}

.todo-item.completed {
  background-color: lightblue;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: line-through;
}

.submit {
  background-color: navy;
  color: white;
  border: none;
  font-size: 1.1rem;
  border-radius: 2px;
  border: 1px solid black;
}

form input,
select {
  border-radius: 2px;
}
.complete-btn {
  background-color: thistle;
  border: 1px solid black;
  border-radius: 2px;
}

.trash-btn {
  background-color: rgb(224, 80, 80);
  border: 1px solid black;
  border-radius: 2px;
}
